*.o
*.a
*.dSYM
test_data_layout
test_data_layout_fortran
.deps
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
test-driver
test_vector_add
test_vector_dot
test_matrix_vector_multiply
test_matrix_matrix_multiply
config.h
config.h.in
*.log
*.trs

